<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quiz App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'quiz_app/css/style.css' %}">    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="center container">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/">Quiz App</a>
        </nav>
        <hr>
        <h2>Welcome to Quiz App!</h2><br>
        <hr>
        <div class="row">
            <div class="col-2">
                <a href="#" class="btn btn-light btn-lg btn-block">Create Quiz</a>
            </div>
            <div class="col-2">
                <a href="category/select" class="btn btn-light btn-lg btn-block">Take Quiz</a>
            </div>
        </div>
        <hr>
    </div>