<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quiz App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'quiz_app/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    
</head>
<body>
    <div class="center container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Quiz App</a>
        </nav>
        <hr>
        <h2>Select Quiz</h2><br>
        <hr>
        <div class="col">
            <div class="list-group">
                {% for q in quizes %}
                    <a href="take/{{q.id}}" class="list-group-item list-group-item-action list-group-item-light">
                        {{q.title}}
                    </a>   
                {%endfor%}
            </div>
        </div>
    </div>
</body>
</html>
